<template name="aboutApp">
  <h1>About</h1>
  <div class="container">
    <h1 id="johoo-">JOHOO!!</h1>
    <h2 id="-">概要</h2>
    <p>消費者と実店舗をつなげるサービスです．</p>
    <img src="/images/abst.jpg" class="responsive-img">
    <h2 id="-">ターゲット</h2>
    <ul>
      <li>「いますぐ欲しい」消費者</li>
      <li>その場で商品やサービスを提供するお店
        ex. レストラン，雑貨屋，コンビニ etc．</li>
      </ul>
      <h2 id="-">メリット</h2>
      <ul>
        <li><p>消費者</p>
          <ul>
            <li>すぐに欲しい商品を買える店が見つかる
              ex.</li>
              <li>商品名が曖昧な場合でも探すことができる
                ex.</li>
              </ul>
            </li>
            <li><p>店舗</p>
              <ul>
                <li>近隣の顧客を実店舗へ誘導することができる</li>
                <li>店舗の全ての在庫情報をサービスに提供しなくて良いため安心</li>
              </ul>
            </li>
          </ul>
          <h2 id="-">使い方</h2>
          <img src="/images/system.jpg" class="responsive-img">
          <h3 id="-">消費者側のユーザー</h3>
          <h3 id="-">店舗側のユーザー</h3>
          <ol>
            <li>近隣の</li>
          </ol>
        </div>

      </template>
