<template name="postItem">
  <div class="post">
    <div class="col s12 m12">
      <div class="card horizontal">
        <div class="card-image">
          <img src="http://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">{{postUser}}</span>
            <p>
              {{postDate}}<br>
              {{postComment}}
            </p>
          </div>
          <div class="card-action">
            <a href="#">地図を表示</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
