<template name="customerThreadAdd">
  <h3>お探しの商品は？</h3>
  <div class="card-panel z-depth-1">
    <form>
      <div class="row">
        <!-- <div class="col s6"> -->
        <label class="control-label" for="title">Title</label>
        <input name="title" type="text" placeholder="タイトルを入力" id="title" class="validate" required/>
        <!-- </div> -->
        <!-- <div class="col s3"> -->
        <label class="control-label" for="category">Category</label>
        <input name="categories" type="text" placeholder="カテゴリーを入力" id="category" class="validate" required/>
        <!-- </div> -->
        <label class="control-label" for="detail">Detail</label>
        <div class="input-field">
          <textarea name="detail" class="materialize-textarea validate" placeholder="希望する商品やサービスの詳細" id="detail" required></textarea>
        </div>



        <div class="file-field input-field">
          <div class="btn purple lighten-3">
            <span>File</span>
            <input type="file" multiple>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="詳細画像のアップロード">
          </div>
        </div>

        <!-- <<<<<<< HEAD
        <div class="card-panel">
        <div class="location">
        <label class="control-label" for="location">Location</label>
        <input name="location" type="text" placeholder="現在位置を入力" id="location" class="validate" value={{location.lat}}{{location.lnd}} />
        ======= -->
        <div class="rangeSlider">
          <div class="row">
            <label for="slider">Search Range</label>
            <span class="left-align">  {{searchRange}} km</span>
          </div>
          <div class="row">
            <p class="range-field">
              <input name="rangeSlider" type="range" id="slider" min="0.1" max=20.0 value="1.0" step="0.1" required/>
            </p>
          </div>
        </div>

        <div class="card-panel">
          <div class="location">
            <label class="control-label" for="location">Location</label>
            <input name="location" type="text" placeholder="現在位置を入力" id="location" class="validate"  value={{location.lat}}{{location.lnd}} required>
          </div>
          <div class="conteiner">
            <div class="map-container">
              {{> googleMap name="exampleMap" options=exampleMapOptions}}
            </div>
          </div>
        </div>

        <div class="right-align">
          <button class="btn waves-effect waves-light purple lighten-3" type="submit" name="action">New
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
