<template name="customerThreadDetail">
  <!-- Navbar goes here -->
  <!-- Page Layout here --> 
  <h3>Thread Detail</h3>
  <div class="row">
    <div class="col s3">
      <!-- Grey navigation panel -->
      {{> profileCard}}
    </div>
    <div class="col s9">
      <!-- Teal page content  -->
      <div class="card-panel z-depth-1 threadLists">
        <h3>{{threadTitle}}</h3>
        <span>{{threadDate}}</span>
        <span>{{threadComment}}</span>
        <div class="right-align">
          <a class="waves-effect waves-light btn-large">Close Case</a>
        </div>
      </div>
      <div class="postsList">
        {{> postsList}}
      </div>
    </div>
  </div>
</template>
