<template name="editProfile">
    <div class="container">
        <form class="update-profile">
            <span>Your Name:</span><input type="text" name="user-name" value="NISHIKAWA" />
            <span>Old Password:</span><input type="password" name="old-pass" placeholder="Type old password." />
            <span>New Password:</span><input type="password" name="new-pass" placeholder="Type new password." />
            <span>New Password(Confirm):</span><input type="password" name="check-pass" placeholder="Retype new password." />
            <span>Comment:</span><input type="text" name="comment" placeholder="Type your name." />
            <div><span>Image: </span><input type="file" name="media[]" accept="image/gif,image/jpeg,image/png" placeholder="Type to add new tasks" /></div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>        
    
</template>
