<template name="header">
    <nav class="indigo darken-3" role="navigation">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo" id="logo-container">JOHOO!!</a>
            <div class="collapse navbar-collapse right" id="navigation">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="cthread">Thread</a></li>
                    <li><a href="pthread">P-Thread</a></li>
                    <li><a href="{{pathFor 'aboutApp'}}" >About</a></li>
                    <li>{{> atNavButton}}</li>
                </ul>
            </div>
        </div>
    </nav>
</template>
