<template name="profileCard">
  <div class="row">
    <div class="">
      <div class="card">
        <div class="card-image">
          <img class="circle responsive-img" src="/images/nymphaea.jpg">
          <!-- <span class="card-title">Nymphaea</span> -->
        </div>
        <div class="card-content">
          <p>Name: Nymphaea<br>
            Age: 24 <br>
            Address: tokyo, Japan<br>
            Commnt: Hi! I am Nymphaea.
          </p>
        </div>
        <div class="card-action">
          <a href="#">Edit Profile</a>
        </div>
      </div>
    </div>
  </div>
</template>
